@model Student

<h1>ABOUT </h1>

<table>
	<tr>
		<td>Id</td>
		<td>@Model.Id</td>
	</tr>
	<tr>
		<td>First Name: </td>
		<td>@Model.FirstName</td>
	</tr>
	<tr>
		<td>Last Name: </td>
		<td>@Model.LastName</td>
	</tr>
	<tr>
		<td>Department: </td>
		<td>@Model.Department</td>
	</tr>
</table> 