<h1>ABOUT </h1>

<table>
	<tr>
		<td>Id</td>
		<td>@ViewBag.id</td>
	</tr>
	<tr>
		<td>First Name: </td>
		<td>@ViewBag.firstName</td>
	</tr>
	<tr>
		<td>Last Name: </td>
		<td>@ViewBag.lastName</td>
	</tr>
	<tr>
		<td>Department: </td>
		<td>@ViewBag.department</td>
	</tr>
</table> 